[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "==1.10.1"
flake8 = "==3.6.0"

[packages]
django = "==2.1.7"
django-heroku = "==0.3.1"
gunicorn = "==19.9.0"

[requires]
python_version = "3.7"
