{% extends 'opac/base.html' %}

{% block meta_title %}蔵書検索{% endblock %}

{% block content %}
      <form method="GET" action="/opac/book/" class="my-5">
        <div class="form-group my-4">
          <input type="text" name="text" class="form-control" required>
        </div>
        <div class="text-center">
          <button type="submit"
                  class="btn btn-primary"
                  style="display: inline-block; width: 140px">
            検索
          </button>
        </div>
      </form>
{% endblock %}
